<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Template of vApp - Sensor data sample</title>

	<meta name="description" content="Simple vApp to demostrate vfos Components">
	<meta name="author" content="Vitor Viana">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

</head>

<body>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<h3>
					Vapp Template
				</h3>
				<div class="card">
					<h5 class="card-header">
						Sensor 1 Data
					</h5>
					<div class="card-body">
						<div class="row">

							<div class="col-md-12">
								<div class="form-inline">
									<div class="form-group mb-2">
										<label for="staticEmail2">Topic :</label>
										<input type="text" readonly class="form-control-plaintext" id="staticEmail2"
											value="sensor_data_channel" style="margin-left:10px">
									</div>

									<button class="btn btn-primary mb-2" style="margin-left:10px">change</button>
								</div>
							</div>

						</div>
						<div class="row">

							<div class="col-md-12">
								<textarea class="form-control" rows="7" id="sensordata"></textarea>
							</div>

						</div>
					</div>
					<div class="card-footer">
						<div><span id='status_icon' class="dot_green"></span> <span id='status_text'></span></div>

					</div>

				</div>
				<div class="btn-group" role="group">

					<button class="btn btn-secondary" type="button" id="add-btn">
						Get Data
					</button>
					<button class="btn btn-secondary" type="button" id="clear-btn">
						Clear
					</button>

				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/scripts.js"></script>
	<script type="text/javascript" src="js/config.js"></script>


	<script script language='javascript'>
		var counter = 0;
		$(document).ready(function () {

			console.log('backend : ', app.baseUrl)

			var $textarea = $('#sensordata');
			$textarea.scrollTop($textarea[0].scrollHeight);


			// $('#add-btn').click(function () {
			// 	addToTextarea($('#sensordata'), counter);
			// 	counter++;
			// });

			$('#clear-btn').click(function () {
				$('#sensordata').val('');
				counter = 0;
			});

			checkAlive();


		});

		function addToTextarea($ta, text) {
			var val = $ta.val();
			if (val) {
				$ta.val(val + '\n' + text);
			} else {
				$ta.val(text);
			}
			$ta.scrollTop($ta[0].scrollHeight);
		}


		setInterval(() => {
			console.log('Data from sensor')
			var text = $('#sensordata').val();
			addToTextarea($('#sensordata'), 'cenas')
			counter++;
		}, 1000 * 3)


		function checkAlive() {
			let ico = $('#status_icon');
			ico.removeClass('class');
			ico.attr('class','')
			axios({
					method: 'GET',
					url: app.baseUrl,
				})
				.then(function (response) {
					console.log('AFTER RESP ', response)
					if (response.status == 200) {
						ico.addClass('dot_green');
						$('#status_text').text(response.data.message)
					} else {
						ico.addClass('dot_red');
						$('#status_text').text('not connected')
					}
					// response.data.pipe(fs.createWriteStream('ada_lovelace.jpg'))
				})
				.catch(function (error) {
					ico.addClass('dot_red');
					$('#status_text').text('not connected')
					console.log(error);
				});
		}
	</script>



</body>

</html>